@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.navbar {
  transition: all 0.3s ease;
  background-color: #fff;
  /* Warna latar belakang navbar */
}

.navbar.scrolled {
  background-color: #444;
  /* Warna latar belakang navbar saat di-scroll */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: black;
  font-size: 25;
  font-weight: bolder;
}

.navbar-brand:hover {
  color: darkgreen;
}

.nav-link {
  color: #008000;
  font-weight: bold;
  /* Warna teks link */
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #005000 !important;
  /* Ganti warna saat hover */
}

.footer {
  background-color: #008000 !important;
  /* Warna merah untuk footer */
  color: #ffffff;
  /* Warna teks putih untuk footer */
}

.footer h5,
.footer p,
.footer ul,
.footer li {
  color: #ffffff;
  /* Warna teks putih untuk elemen dalam footer */
}

.animate__fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
}

/* Style Halaman Tentang */
.about-section {
  padding: 100px 0;
  text-align: center;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Style Halaman Kontak */
.navbar-brand img {
  max-height: 40px;
}

.contact-section {
  padding: 100px 0;
  text-align: center;
  background-color: #f8f9fa;
}

.contact-section h2 {
  margin-bottom: 40px;
}

.contact-info {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact-info a {
  color: #9e2828;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.map-section {
  position: relative;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.map-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Warna tombol */
.btn {
  background-color: #008000 !important;
  /* Warna merah untuk tombol */
  border: none !important;
  color: #ffffff !important;
  /* Warna putih untuk teks tombol */
}

.btn:hover,
.btn:focus {
  background-color: #005000 !important;
  /* Warna merah gelap untuk tombol saat hover */
  border: none !important;
}
